.careers-container{background: white;height:100%; width:100vw;overflow-x: hidden;}


.careers-container .header{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    position: sticky;
    top: 0;
    height:10%;
    background: white;


}
.logo img {
    width:120%; /* Set the desired width of the logo */
    height: 140%; /* Maintain aspect ratio */
    margin-top: -50px; /* Add top margin for spacing, adjust as needed */

}

.searchbar {
    flex-grow: 1; /* Allow the search bar to take up remaining space */
    margin-left: 15px;
    /* Adjust the left margin for spacing, change as needed */
}


.searchbar input {
    width: 100%; /* Take up 100% of the available width within .searchbar */
    padding: 10px; /* Add padding for better visual appearance, adjust as needed */
    box-sizing: border-box;
    margin-top: 18px;
    background-color: white; /* Include padding in the width calculation */
    color: black;
    border-radius:40px ;
    font-size: 16px;
    border: 2px solid black;
    outline: none;

}

.searchbar input::placeholder {
    color: black; /* Change the color of the placeholder text */
    font-size: 16px; /* Adjust the font size of the placeholder text */
}

.btn-wrapper button {
    margin-left: 10px;
    background-color:white;
    color: black;
    padding: 25px 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 18px;

}
.search_button button{
    margin-left:-43px;
    margin-top: 23px;
    background-color:white;
    color: black;
    cursor: pointer;
    padding:5px;
    border: none;

}
.search_button i {
    font-size: 20px; /* Adjust the font size of the icon */
    margin-right: 5px;}/* Add spacing between the icon and text */
.btn-wrapper button i {
    font-size: 20px; /* Adjust the font size of the icon */
    margin-right: 5px; /* Add spacing between the icon and text */
}
.btn_before button {
    margin-left: 10px;
    background-color:white;
    color: black;
    padding: 25px 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 18px;

}
.btn_before button i {
    font-size: 20px; /* Adjust the font size of the icon */
    margin-right: 5px;}/* Add spacing between the icon and text */
.careers-container .footer{


    display: flex;
    height:40% ;
    background: black;
    /*margin-top: 20px;*/
    font-size: 5px;
    /*align-items: flex-end;*/
    justify-content: space-around;

}
.footer .get-help{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
    margin-top: 35px;


}
.footer .about-us{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: -35px;

}
.footer .logos{
    display: flex;
    align-items: center;
    /*justify-content: space-evenly;*/

}
.logos img{
    padding: 8px}
.get-help button{
    background-color: black;
    color: grey;
    font-size: 14px;
    border: none;

}
.get-help button:hover {
    color: white; /* Change to the desired color on hover */
}
.get-help span{
    font-size: 13px;
    margin-top: 15px;
    /*padding-bottom: -50px;*/
    /*margin-bottom: -60px;*/


}
.about-us button{
    background-color: black;
    color: grey;
    font-size: 14px;
    border: none;

}
.about-us button:hover {
    color: white; /* Change to the desired color on hover */
}


.logos span{
    font-size: 16px;

}

.logos img{
    cursor: pointer;
}

.about-us-body {
    display: flex;
    height: 100%;
    background-color: wheat;
    padding: 100px;


}
.checkout-image-sec{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.checkout-image-sec .image-sec img{
   height: 100%;
    width: 100%;
}
.checkout-image-sec .image-sec{
    height: 50%;
    width: 100%;
}

.checkout-image-sec .buttons{
    display: flex;
    column-gap: 30px;


}
.checkout-image-sec .buttons button{
    font-size: 20px;
    background-color: black;
    color: white;
    border-radius: 30px;



}
.description{
    background-color: white;
    color: black;
    font-size: 25px;
    margin-left: 25px;
}




